<header>
  <div class="widewrapper masthead">
    <div class="container">
      <a href="index.html" id="logo">
        <img src="/img/logo.png" alt="Too Baptist">
      </a>

      <div id="mobile-nav-toggle" class="pull-right">
        <a href="#" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
          <i class="fa fa-bars"></i>
        </a>
      </div>

      <nav class="pull-right tales-nav">
        <div class="collapse navbar-collapse">
          <ul class="nav nav-pills navbar-nav">

            <li class="dropdown active">
              <a class="dropdown-toggle"
                 data-toggle="dropdown"
                 href="#">
                Blog
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="index.html">Blog</a></li>
                <li><a href="blog-detail.html">Blog Detail</a></li>
              </ul>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="credits.html">Credits</a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </div>

  <div class="widewrapper subheader">
    <div class="container">
      <div class="tales-breadcrumb">
        <a href="#">Tales</a>
        <span class="separator">&#x2F;</span>
        <a href="#">Starter</a>
        <span class="separator">&#x2F;</span>
        <a href="#">Starter Page</a>
      </div>

      <div class="tales-searchbox">
        <form action="#" method="get" accept-charset="utf-8">
          <button class="searchbutton" type="submit">
            <i class="fa fa-search"></i>
          </button>
          <input class="searchfield" id="searchbox" type="text" placeholder="Search">
        </form>
      </div>
    </div>
  </div>
</header>